* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid red;   */
}


.container {
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}


.head__top {
  background-color: #081b4b;
  border-bottom: 2px solid #1f2937;
}

.head__div {
  display: flex;
  justify-content: flex-start;
  gap: 1.75rem;
  align-items: center;
}

.head__logo {
  width: 68px;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.title__type {
  line-height: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@media (min-width: 320px) and (max-width: 767px) {
  .title {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
  }
  .title__type {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.main__box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.main__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.main__label {
  color: white;
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  margin-bottom: 1rem;
}

.main__textarea {
  background-color: transparent;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  height: 10rem;
  resize: none;
}

.main__info {
  display: flex;
  margin-bottom: 1.25rem;
  color: gray;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  margin-bottom: 1.25rem;
  gap: 10px;
  font-size: 0.8rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main__info {
    margin-bottom: -1.5rem;
  }
}


.icon {
  width: 1.9rem;
  height: 1.9rem;
}

.main__buttons {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
  }
}

.btn__main {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  margin-bottom: 1rem;
  width: 12rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .btn__main {
    margin-bottom: 0rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 2rem;
  height: 20vh;
  background-color: #081b4b;
  border-top: 2px solid #1f2937;
  position: static;
}

.footer__img {
  border-radius: 0.375rem;
  width: 14rem;
}

.footer__author {
  display: flex;
  color: white;
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.footer__linkedIn{
  color: #d8d1d8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 2rem;
    display: flex;
  }

  .footer__author {
    text-align: center;
  }

  .footer__img {
    width: 10rem;
  }
}


/* Animations */
h1 {
  padding: 10px 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  position: relative;
  width: 600px;
  display: inline-block;
  text-shadow: -1px -1px 0 #1df2f0, 1px 1px 0 #e94be8;
  border: 1px solid #d1d8d7;
  box-shadow: 0 10px 10px -10px #c9c9c9;
}

h1::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "CryptoShield: Encryptor and Decryptor";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  animation: glitch_4011 1s infinite;
  text-shadow: -3px -3px 0 #6602fb, 3px 3px 0 #e94be8;
  border: 3px solid #6602fb;
  animation-timing-function: steps(2, end);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
  }
  5% {
    clip-path: var(--move2);
  }
  10% {
    clip-path: var(--move3);
  }
  15% {
    clip-path: var(--move4);
  }
  20% {
    clip-path: var(--move5);
  }
  25% {
    clip-path: var(--move6);
  }
  30% {
    clip-path: var(--move1);
  }
  100% {
    clip-path: var(--move1);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 2.5rem;
  background-size: 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.2s;
  animation: gradient_301 3s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(137.48deg, #6b6f47 10%, #5361fe 45%, #6602fb 67%, #04f 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media (max-width: 767px) {
  .btn {
    width: 10rem;
    height: 3rem;
  }
}

@media (min-width: 320px) {
  .btn {
    width: 8rem;
    height: 2rem;
  }

}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(234, 27, 34);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#fff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#fff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135deg);
  }
}
@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes gradient_301 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
